* + h1,
* + .h1,
* + h2,
* + .h2,
* + h3,
* + .h3,
* + h4,
* + .h4,
* + h5,
* + .h5,
* + h6,
* + .h6
{
    margin-top: 2rem;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
{
    overflow: hidden;
    white-space: nowrap;
}

h1::before, .h1::before,
h2::before, .h2::before,
h3::before, .h3::before,
h4::before, .h4::before,
h5::before, .h5::before,
h6::before, .h6::before,
{
    content: "// ";
}


@h1-indent: 3ch;
h1 {
    padding-left: @h1-indent;
}

h1::after,
h1::before {
    display: block;
    margin-left: -@h1-indent;
}

h1::before {
    content: "/***************************************************************************************************************";
}

h1::after {
    content: "/***************************************************************************************************************";
    direction: rtl;
}


h2::after {
    content: " -------------------------------------------------------------------------------------------------------------";
}


h3::before {
    content: "// ";
}

h3::after {
    content: " //";
}
